.add__list {
    width: 280px;
    display: flex;
    align-items: center;
    background-color: #ebecf0;
    padding: 12px 10px;
    cursor: pointer;
    color: #5e6c84;
    flex-shrink: 0;
}

.add__list:hover {
    background-color: #ebe2e1;
}