.horizontal__menu {
    position: relative;
    background-color: grey;
    border-radius: 5px;
    font-size: 0;
    padding: 2px;
}

.horizontal__menu:before {
    position: absolute;
    left: -7px;
    top: 0;
    content: '';

    background-color: grey;
    border-radius: 5px;
    font-size: 0;
    padding: 2px;
}

.horizontal__menu:after {
    position: absolute;
    left: 7px;
    top: 0;
    content: '';
    background-color: grey;
    border-radius: 5px;
    font-size: 0;
    padding: 2px;
}

.wrapper-horizontal__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.wrapper-horizontal__menu:hover {
    background-color: #091e4214;
}