.app {
  height: 100vh;
  display: flex;
  gap: 50px;
  align-items: flex-start;
  background: url('../images/background.jpg') no-repeat 0 0;
  background-size: cover;
  overflow-x: auto;
}

.edit__card-app {
  z-index: 0;
  opacity: 0.5;
}