.navigation {
    padding: 20px 5px;
    background-color: #f09278;
    width: 260px;
    position: relative;
    flex-shrink: 0;
}

.title__navigation {
    color: #FFFFFF;
    font-size: 16px;
}

.navigation__wrapper {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.wrapper__board__names {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper_log {
    height: 100%;
    overflow-y: auto;
}

.item__user-activity {
    color: #FFFFFF;
    font-size: 15px;
    margin: 5px 0;
}